# Strings
# A sequence of characters, they are iterable, immutable

In [1]:
# create a string
s = str(42) # convert another data type into a string

In [2]:
s

'42'

In [3]:
s = 'I like you'

In [4]:
s

'I like you'

# examine a string

In [5]:
s[0] # returns 'I'

'I'

In [6]:
s[1] # returns ' '

' '

In [7]:
len(s) # returns 10

10

# string slicing like lists

In [8]:
s[:6] # returns 'I like'

'I like'

In [9]:
s[7:] # returns 'you'

'you'

In [10]:
s[-1] # returns 'u'

'u'

# # basic string methods (does not modify the original string)

In [11]:
s.lower() # returns 'i like you'

'i like you'

In [12]:
s.upper() # returns 'I LIKE YOU'

'I LIKE YOU'

In [13]:
s.startswith('I') # returns True

True

In [14]:
s.endswith('you') # returns True

True

In [15]:
s.isdigit() # returns False (returns True if every character in the string is a digit

False

In [16]:
s.find('like') # returns index of first occurrence (2), but doesn't support regex

2

In [17]:
s.find('hate') # returns -1 since not found

-1

In [18]:
s.replace('like','love') # replaces all instances of 'like' with 'love'

'I love you'

# split a string into a list of substrings separated by a delimiter

In [19]:
s.split(' ') # returns ['I','like','you']

['I', 'like', 'you']

In [20]:
s.split() # same thing

['I', 'like', 'you']

In [21]:
s2 = 'a, an, the'

In [22]:
s2

'a, an, the'

In [23]:
s2.split(',') # returns ['a',' an',' the']

['a', ' an', ' the']

# join a list of strings into one string using a delimiter

In [25]:
stooges = ['larry','curly','moe']

In [28]:
' '.join(stooges) # returns 'larry curly moe'

'larry curly moe'

In [29]:
'-'.join(stooges) # returns 'larry-curly-moe'

'larry-curly-moe'

# concatenate strings

In [31]:
s3 = 'The meaning of life is'
s3

'The meaning of life is'

In [32]:
s4 = '42'

In [33]:
s3 + ' ' + s4 # returns 'The meaning of life is 42'

'The meaning of life is 42'

In [34]:
s3 + ' ' + str(42) # same thing

'The meaning of life is 42'

# remove whitespace from start and end of a string

In [37]:
s5 = ' ham and cheese '
s5

' ham and cheese '

In [38]:
s5.strip() # returns 'ham and cheese'

'ham and cheese'

# string substitutions: all of these return 'raining cats and dogs'

In [39]:
'raining %s and %s' % ('cats','dogs') # old way

'raining cats and dogs'

In [40]:
'raining {} and {}'.format('cats','dogs') # new way

'raining cats and dogs'

In [41]:
'raining {arg1} and {arg2}'.format(arg1='cats',arg2='dogs') # named arguments

'raining cats and dogs'

In [42]:
# string formatting
# more examples: http://mkaz.com/2012/10/10/python-string-format/
'pi is {:.2f}'.format(3.14159) # returns 'pi is 3.14'

'pi is 3.14'

# Strings 2/2

In [43]:
print('first line\nsecond line')

first line
second line

In [45]:
#raw strings treat backslashes as literal characters
print(r'first line\nfirst line')

first line\nfirst line

# sequence of bytes are not strings, should be decoded before some operations

In [46]:
s = b'first line\nsecond line'
print(s)

b'first line\nsecond line'

In [47]:
print(s.decode('utf-8').split())

['first', 'line', 'second', 'line']