# Tuples
# Like lists, but their size cannot change: ordered, iterable, immutable, can contain multiple data types

In [3]:
# create a tuple
digits = (0, 1, 'two') # create a tuple directly
digits

(0, 1, 'two')

In [5]:
digits = tuple([0, 1, 'two']) # create a tuple from a list
digits

(0, 1, 'two')

In [8]:
zero = (0,) # virgula à direita é necessária pra indicar que é uma tupla

In [10]:
zero

(0,)

In [12]:
type(zero)

tuple

# examine a tuple

In [13]:
digits[2] # returns 'two'

'two'

In [14]:
len(digits) # returns 3

3

In [15]:
digits.count(0) # counts the number of instances of that value (1)

1

In [16]:
digits.index(1) # returns the index of the first instance of that value (1)

1

In [18]:
digits.index('two') # returns the index of the first instance of that value two

2

# elements of a tuple cannot be modified
# digits[2] = 2 # throws an error

In [19]:
# concatenate tuples
digits = digits + (3, 4)

In [21]:
digits

(0, 1, 'two', 3, 4)

In [22]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2 # returns (3, 4, 3, 4)

(3, 4, 3, 4)

In [24]:
# tuple unpacking
bart = ('male', 10, 'simpson') # create a tuple
bart

('male', 10, 'simpson')